<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="less/index.css">
    <title>简历</title>
</head>
<body>
<main id="app" class="container">
    <header class="row">
        <section class="title">
            <h1>{{resume.name}}</h1>
            <h2>{{resume.job}}</h2>
        </section>

        <div>
            <address>
                <ul class="contact">
                    <li class="contact_{{item.type}}" v-for="item in resume.contacts">
                        <a href="{{item.link}}">{{item.type}}</a>
                    </li>
                </ul>
            </address>
        </div>


    </header>
    <div class="content row">
        <article class="educations">
            <div class="sec-title-wrapper"><h3 class="sec-title"><span class="sec-title-ch">教育经历</span><span
                    class="sec-title-en">Education</span></h3></div>
            <div class="sec-content">

                <section class="sec-part bi-part" v-for="item in resume.education">
                    <time class="timeline-title">
                        &nbsp; &nbsp; {{item.start}} ~ {{item.end}}&nbsp; &nbsp;{{item.type_ch}}
                    </time>

                    <dl class="subsec-content">
                        <dt class="education-name">{{item.name}}</dt>
                        <dd class="education-college" v-if="item.college">{{item.college}}</dd>
                        <dd class="education-major" v-if="item.major">{{item.major}}</dd>
                        <dd class="education-lab" v-if="item.lab">{{item.lab}}</dd>
                    </dl>
                </section>
            </div>
        </article>

        <article class="projects">
            <div class="sec-title-wrapper"><h3 class="sec-title"><span class="sec-title-ch">项目经历</span><span
                    class="sec-title-en">Project</span></h3></div>
            <div class="sec-content">
                <section class="sec-part" v-for="item in resume.projects">
                    <time class="timeline-title">
                        &nbsp; &nbsp; {{item.start}} ~ {{item.end}}
                    </time>
                    <div class="subsec-content">
                        <dl>
                            <dt class="item-summary">{{item.title}} </dt>
                            <dd class="experience-task" v-for="des in item.description">
                                {{des}}
                            </dd>
                        </dl>
                        <div class="tags">
                             <span class="tag" v-for="tag in item.tags">
                                {{tag}}
                            </span>
                        </div>

                    </div>


                </section>
            </div>
        </article>

        <article class="skills">
            <div class="sec-title-wrapper"><h3 class="sec-title"><span class="sec-title-ch">个人技能</span><span
                    class="sec-title-en">Skills</span></h3></div>
            <div class="sec-content">
                <section class="sec-part" v-for="skill in resume.skills">
                    <time class="timeline-title">
                        {{skill.title}}
                    </time>
                    <div class="subsec-content">
                        <dl class="" v-for="class in skill.classes">
                            <dt class="item-summary">{{class.class}}</dt>
                            <dd class="skills-item-description" v-for="des in class.description">
                                {{des}}
                            </dd>
                        </dl>
                    </div>

                </section>
            </div>
        </article>

    </div>


</main>
<footer>This resume is generated with Webpack, Less and Vue.js by ysyszrj's resume generator.
</footer>
<script src="../bin/app.bundle.js"></script>
</body>
</html>